<div class="container text-center pb-5">
<h3>CONTACT</h3>

<table class="table table-striped animate__animated animate__fadeIn ">
    
    <tbody>
      <tr>
        <th scope="row">Phone:</th>
        <td>+51 992919440</td>
      </tr>
      <tr>
        <th scope="row">E-mail:</th>
        <td>zarod2019@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">LinkedIn</th>
        <td><a href="www.linkedin.com/in/zarbioromulo" target="_blank">
            <i class="fa fa-linkedin-square" style="font-size:24px"></i>
        </a></td>
      </tr>
      <tr>
        <th scope="row">Dirección:</th>
        <td>Lince, Lima, Perú</td>
      </tr>
    </tbody>
  </table>


</div>